<footer class="mt-auto">
  <div class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <center>
                    <div class="container-fluid text-center text-md-left">
                        <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <h5 class="text-uppercase">Информация</h5>
                            <p>Наш проект не имеет никакого отношения к Mojang AB. Все пожертвования являются добровольными, идут на улучшение проекта и средства за них не могут быть возвращены.</p>
                        </div>
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <div class="col-md-3 mb-md-0 mb-3">
                            <h5 class="text-uppercase">RangeMC</h5>

                            <ul class="list-unstyled">
                            <li>
                                <a href="https://vk.com/rangemc" target="_blank">ВКонтакте</a>
                            </li>
                            <li>
                                <a href="https://discord.rangemc.ovh" target="_blank">Discord</a>
                            </li>
                            </ul>
                        </div>
                        <div class="col-md-3 mb-md-0 mb-3">
                            <h5 class="text-uppercase">Прочее</h5>
                            <ul class="list-unstyled">
                            <li>
                                <a href="https://wiki.rangemc.ovh/info/rules" target="_blank">Правила</a>
                            </li>
                            <li>
                                <a href="https://github.com/rangemc" target="_blank">GitHub</a>
                            </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                  </center>
              </div>
          </div>
      </div>
  </div>
</footer>

<script src="/static/js/main.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script> -->



<script>
  $('.carousel').carousel({
      interval: 3700
  });
</script>








<script>
  function scrollTo(to, duration = 700) {
      const
          element = document.scrollingElement || document.documentElement,
          start = element.scrollTop,
          change = to - start,
          startDate = +new Date(),
          // t = current time
          // b = start value
          // c = change in value
          // d = duration
          easeInOutQuad = function(t, b, c, d) {
              t /= d / 2;
              if (t < 1) return c / 2 * t * t + b;
              t--;
              return -c / 2 * (t * (t - 2) - 1) + b;
          },
          animateScroll = function() {
              const currentDate = +new Date();
              const currentTime = currentDate - startDate;
              element.scrollTop = parseInt(easeInOutQuad(currentTime, start, change, duration));
              if (currentTime < duration) {
                  requestAnimationFrame(animateScroll);
              } else {
                  element.scrollTop = to;
              }
          };
      animateScroll();
  }

  document.addEventListener('DOMContentLoaded', function() {
      let btn = document.querySelector('#toTop');
      window.addEventListener('scroll', function() {
          // Если прокрутили дальше 599px, показываем кнопку
          if (pageYOffset > 100) {
              btn.classList.add('show');
              // Иначе прячем
          } else {
              btn.classList.remove('show');
          }
      });

      // При клике прокручиываем на самый верх
      btn.onclick = function(click) {
          click.preventDefault();
          scrollTo(0, 400);
      }
  });
</script>
</body>

</html>