<!DOCTYPE html>
<html lang="en">
   <head>
      <title>RangeMC | <%- title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="https://static.rangemc.ovh/css/main.css">
      <link rel="shortcut icon" type="image/png" href="https://static.rangemc.ovh/img/icon.png">
      <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://static.rangemc.ovh/css/bootstrap/bootstrap-grid.min.css">
      <link rel="stylesheet" type="text/css" href="https://static.rangemc.ovh/js/bootstrap/bootstrap.min.js">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
      	<!-- JQuery -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- JQuery Easing -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

		<!-- PipUI -->

      <link rel="stylesheet" href="https://static.rangemc.ovh/css/pipui-kastr.css" />

   </head>
   <body>
      <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button> 
      <div class="topnav" id="myTopnav">
         <div class="max-width">
            <a href="/">Главная</a>
            <a href="/bans">Банлист</a>
            <a href="/panel">Личный кабинет</a>
            <a href="/panel/download">Скачать лаунчер</a>
            <a target="_blank" href="https://discord.com/invite/deU4z4n">Discord</a>
            <a target="_blank" href="https://vk.com/rangemc">ВКонтакте</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
         </div>
      </div>