<!DOCTYPE html>
<html lang="en">

<head>
    <title>RangeMC | <%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/abouts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/games.css">
    <link rel="stylesheet" type="text/css" href="/static/css/teams.css">
    <link rel="stylesheet" type="text/css" href="/static/css/scroll.css">
    <link rel="stylesheet" type="text/css" href="/static/css/lkdis.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reglog.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bl.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column min-vh-100">

    <a href="#" id="toTop">
        <i class="fas fa-arrow-up"></i>
    </a>

    <section>
        <nav class="navbar navbar-expand-lg">
            <div class="container">

                <a href="/" class="navbar-brand">RangeMC Project</a>

                <span class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://store.rangemc.ovh" target="_blank" class="nav-link">Донат</a>
                        </li><li class="nav-item ">
                            <a href="/bans" class="nav-link">Банлист</a>
                        </li>
                        <li class="nav-item">
                            <a href="/panel" class="nav-link">Личный Кабинет</a>
                        </li>
                    </ul>
                      <!-- <a href="javascript:void(0); " style="font-size:15px; " class="icon " onclick="myFunction() ">&#9776;</a> -->
                </span>

            </div>
        </nav>
    </section>