<%- include('_header.ejs', { title: `Главная`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
        <section id="about">
         <h1>Преимущества</h1>
         <hr>
         <div class="row features">
            <div class="col">
               <i class="fab fa-cloudscale feature"></i>
               <h2>Низкий пинг</h2>
               <p>Наш сервер находится в Москве, что даёт минимальный пинг для жителей СНГ.</p>
            </div>
            <div class="col">
               <i class="fas fa-users feature"></i>
               <h2>Наше сообщество</h2>
               <p>У нас есть Discord-сервер, а также группа и беседа ВК, в которых общаются игроки.</p>
            </div>
            <div class="col">
               <i class="fas fa-shield-alt feature"></i>
               <h2>Хороший аптайм</h2>
               <p>Наш сервер работает 99.9% времени, так что вы можете играть в любое время!</p>
            </div>
         </div>
         <div class="row features">
            <div class="col">
               <i class="far fa-calendar-alt feature"></i>
               <h2>Интересные ивенты</h2>
               <p>Администрация проекта очень часто проводит интересные ивенты среди игроков.</p>
            </div>
            <div class="col">
               <i class="fas fa-code-branch feature"></i>
               <h2>Собственные плагины</h2>
               <p>В нашей команде присутствуют кодеры, которые разрабатывают плагины.</p>
            </div>
            <div class="col">
               <i class="fas fa-bug feature"></i>
               <h2>Защита от модификаций</h2>
               <p>Наш лаунчер защищён от внедрения DLL файлов и стороннего ПО.</p>
            </div>
         </div>
      </section>
      <section id="banner" class="parallax">
         <h1>ХОТИТЕ ПРИСОЕДИНИТЬСЯ К НАМ?</h1>
         <h2>ПЕРЕЙДИТЕ К <a href="/panel/register">РЕГИСТРАЦИИ АККАУНТА</a></h2>
      </section>
      <section id="gamemodes">
         <h1>Игровые режимы</h1>
         <hr>
         <div class="row fixed-width">
            <div class="col-md mode">
               <h2>ВАНИЛЬНЫЙ СЕРВЕР</h2>
               <p>На данном сервере нет сторонних модификаций и сохранена ванильная механика. Он является самым современным, т.к. использует самую новую возможную версию игры.</p>
            </div>
            <div class="col-md img">
               <img class="res-img" src="/static/img/vanilla.jpg">
            </div>
         </div>
		   <section class="gray">
			<div class="row fixed-width">
				<div class="col-md img">
					<img class="res-img" src="/static/img/anarchy.jpg">
				</div>
			<div class="col-md mode">
				<h2>АНАРХИЯ</h2>
				<p>Всегда мечтали обманывать игроков, взрывать их дома и отбирать вещи, но при этом не нарушать правила проекта? Здесь вы сможете обьединяться в команды, строить базы и вместе гриферить других игроков!</p>
				</div>
         </div>
      </section>
         <div class="row fixed-width">
			<div class="col-md mode">
				<h2>ИВЕНТОВЫЙ СЕРВЕР</h2>
				<p>Данный сервер предназначен для проведения интересных мероприятий среди игроков проекта. Он включается только в определённое время, так что надо быть внимательным и следить за новостями в нашей <a target="_blank" href="https://vk.com/rangemc">группе ВКонтакте</a>.</p>
			</div>
			<div class="col-md img">
				<img class="res-img" src="/static/img/event.jpg">
			</div>
		</div>
		</section>
      </section>
      <section id="banner2" class="parallax">
         <h1>ХОТИТЕ ПОДДЕРЖАТЬ ПРОЕКТ?</h1>
         <h2>ИСПОЛЬЗУЙТЕ <a target="_blank" href="https://store.rangemc.ovh">СТРАНИЦУ ПОЖЕРТВОВАНИЙ</a></h2>
      </section>
      <section id="staff">
         <h1>Наша команда</h1>
         <hr>
         <div class="row stafflist">
            <div class="col-md staffblock">
               <img width="100px;" src="https://cravatar.eu/avatar/sasha12ru/64.png">
               <h2>sasha12ru</h2>
               <p>Модератор</p>
            </div>
            <div class="col-md staffblock">
               <img width="100px;" src="https://cravatar.eu/avatar/kumikino/64.png">
               <h2>kumikino</h2>
               <p>Старший модер</p>
            </div>
            <div class="col-md staffblock">
               <img width="100px;" src="https://cravatar.eu/avatar/Krisslors/64.png">
               <h2>Krisslors</h2>
               <p>Разработчик</p>
            </div>
            <div class="col-md staffblock">
               <img width="100px;" src="https://cravatar.eu/avatar/nightrunner_ru/64.png">
               <h2>nightrunner_ru</h2>
               <p>Администратор</p>
            </div>
            <div class="col-md staffblock">
               <img width="100px;" src="https://cravatar.eu/avatar/AlexxxlYT/64.png">
               <h2>AlexxxlYT</h2>
               <p>Администратор</p>
            </div>
         </div>
      </section>
</div>
<%- include('_footer.ejs') %>