<%- include('_header.ejs', { title: `Скачать лаунчер`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
        <br><div style="background-color: black;" class="w-50 mx-auto window breakpoint-768-i">
            <div class="text-center"><h4 style="color: white;">Скачать лаунчер</h4></div>
            <div class="input-block pt-20">
                <center><a style="color: white;">Инструкцию по использованию лаунчера можно посмотреть здесь: </a><a target= "_blank" href="https://wiki.rangemc.ovh/launcher/usage">клик</a></center>
            </div>
            <center><a style="color: white;">Выберите платформу:</a></center>
            <div class="pt-20 text-center">
                <a target="_blank" class="btn" href="https://launcher.rangemc.ovh/RangeMC.exe">Windows</a> <a target="_blank" style="background-color: cornflowerblue;" class="btn" href="https://launcher.rangemc.ovh/RangeMC.exe">macOS</a> <a target="_blank" class="btn" href="https://launcher.rangemc.ovh/RangeMC.jar">Linux</a>
            </div>
        </div>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('_footer.ejs') %>
