:root {
    --mainbgcolor: #161616;
    --bgcolor: #121212;
    --bgbtn: #eeeeee28;
    --txtcolor: white;
    --activetxtcolor: #686868;
    --hovertxtcolor: #979797;
    --warningcolor: #D77A00;
}