<%- include('../_header.ejs', { title: `Консоль сервера`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
    <span class="white-color">
        <br><div style="padding: 20px 20px 20px 20px; background-color: black; color: white;" class="w-40 mx-auto window breakpoint-768-i">
            <h5>Консоль сервера</h5>
            <br><form>
                <div class="input-block">
                    <label style="color: white;" for="form-1">Команда для выполнения</label>
                    <input type="text" placeholder="Введите команду которую вы хотите отправить серверу" name="command" id="form-1" required>
                    <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
                </div>
    
                <div class="pt-20 text-center">
                    <button type="submit" style="background-color: cadetblue;" class="btn">Отправить</button> <a href="/panel/admin" class="btn">Назад</a>
                </div>
            </form>
            <br><hr><br><p id="consoleLog"></p>
        </div>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<script>
document.body.addEventListener("submit", (e) => {
    e.preventDefault();

    let command = document.getElementById("form-1").value;
    if(!command) return Swal.fire({
        position: 'center',
        type: "error",
        title: "Ошибка!",
        html: "Вы не ввели команду для выполнения.",
        showConfirmButton: true,
        timer: 15000
    });

    $.ajax({
        url: encodeURI(`/panel/sendCommand?command=${command}`),
        type: "GET",
        json: true,
        cache: false,
        success: (data) => {
            const consoleLog = document.getElementById("consoleLog");
            return consoleLog.innerHTML += `<span>${(new Date().toTimeString()).slice(0, 8)} > ${data.command}</span><br><span style="color: cadetblue;">${(new Date().toTimeString()).slice(0, 8)} < ${data.log}</span><br>`;
        }
    });
});
</script>
<%- include('../_footer.ejs') %>