<%- include('../_header.ejs', { title: `Событие`, userLogin: userLogin }) %>
<meta http-equiv="refresh" content="5;/panel">
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
        <br><div style="padding: 20px 20px 20px 20px; background-color: black; color: white;">
            <p>
                <%- type %>
                <br>Через 5 секунд вы будете перенаправлены в ЛК.
            </p>
        </div>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('../_footer.ejs') %>