<%- include('../_header.ejs', { title: `Событие`, userLogin: userLogin }) %>
<meta http-equiv="refresh" content="5;/panel">
<section class="container">
    <div class="row">
        <div class="col-md-8">
            <%- type %>
            <h5 style="color: #D5D5D5;">Через 5 секунд вы будете перенаправлены <br> в Личный Кабинет</h5>
        </div>
        <div class="col-md-4">
            <div class="images">
                <img src="/static/img/голем.png" width="100%" />
            </div>
        </div>
    </div>
</section>
<%- include('../_footer.ejs') %>