<%- include('../_header.ejs', { title: `Авторизация`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
        <br><form action="/panel/login" method="POST"><div style="background-color: black;" class="w-50 mx-auto window breakpoint-768-i">
            <div class="text-center"><h4 style="color: white;">Авторизация</h4></div>
            <%- (error) ? `<div id="error-login"><br><p style="background-color: red;" class="btn" onclick="document.getElementById('error-login').innerHTML = '';">${error}</p><br></div>` : "" %>
            <div class="input-block pt-20">
                <label style="color: white;" for="form-1">Логин аккаунта</label>
                <input type="text" placeholder="Введите ваш никнейм в игре" name="login" id="form-1" required>
                <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
            </div>

            <div class="input-block">
                <label style="color: white;" for="form-2">Пароль аккаунта</label>
                <input type="password" placeholder="Введите пароль для входа в нашем лаунчере" name="pass" id="form-2" required>
                <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
            </div>

            <div class="pt-20 text-center">
                <button type="submit" style="background-color: cadetblue;" class="btn">Авторизоваться</button> <a target="_blank" style="background-color: cornflowerblue;" class="btn" href="https://vk.me/rangemc">Забыли пароль?</a> <a style="background-color: #bd7979;" class="btn" href="/panel/register">Регистрация</a>
            </div>
        </div></form>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('../_footer.ejs') %>