<%- include('../_header.ejs', { title: `Создать пользователя`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
    <span class="white-color">
        <br><div style="padding: 20px 20px 20px 20px; background-color: black; color: white;" class="w-40 mx-auto window breakpoint-768-i">
            <h5>Создать пользователя</h5>
            <br><form action="/panel/addUser" method="POST">
                            <div class="input-block">
                                <label style="color: white;" for="form-1">Логин аккаунта</label>
                                <input type="text" placeholder="Введите логин для входа в лаунчере" name="login" id="form-1" required>
                                <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
                            </div>
                
                            <div class="input-block">
                                <label style="color: white;" for="form-2">Пароль аккаунта</label>
                                <input type="text" placeholder="Введите пароль для входа в лаунчере" name="pass" id="form-2" required>
                                <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
                            </div>
                
                            <div class="pt-20 text-center">
                                <button type="submit" style="background-color: cadetblue;" class="btn">Создать</button> <a style="background-color: red;" href="/panel/admin" class="btn">Назад</a>
                            </div>
                        </form>
        </div>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('../_footer.ejs') %>