<%- include('../_header.ejs', { title: `Регистрация`, userLogin: userLogin }) %>
<%- captcha %>
<section class="container">
    <div class="logins-forms">
        <form class="form-signin" action="/panel/register" method="POST">
            <div class="text-center">
                <img class="mb-4" src="/static/img/favicon.png" alt="" width="130" height="130">
            </div>
            <h1 class="h2 mb-3 font-weight-normal text-center" style="color: white; text-transform: uppercase;">Регистрация</h1>
            <%- (error) ? `<center><div id="error-login"><br><p class="btn btn-danger" onclick="document.getElementById('error-login').innerHTML = '';">${error}</p><br></div></center>` : "" %>
            <label for="form-1" class="text-white text-left">Логин</label>
            <input type="text" id="form-1" name="login" class="form-control" placeholder="Ваш логин" required>
            <label for="form-2" class="text-white text-left">Пароль</label>
            <input type="password" id="form-2" name="pass" class="form-control" placeholder="Пароль" required>
            <input type="hidden" id="form-3" name="g-recaptcha-response" class="form-control" required readonly>
            <div class="mb-3">
                <label>
                    <a target="_blank" href="https://vk.com/rangemc"> Забыли пароль?</a>
                </label>
            </div>
            <div class="text-center">
                <button type="submit" type="submit" class="btn btn-danger">Регистрация</button>
                <a href="/panel/login"> <button type="button" class="btn btn-outline-secondary" style="color: white; background: transparent;">Авторизация</button> </a>
            </div>
        </form>
    </div>
</section>
<%- include('../_footer.ejs') %>