<%- include('../_header.ejs', { title: `Смена скина`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
        <br><form action="/panel/skin" method="POST" enctype="multipart/form-data"><div style="background-color: black;" class="w-50 mx-auto window breakpoint-768-i">
            <div class="text-center"><h4 style="color: white;">Смена скина</h4></div>
            <%- (error) ? `<div id="error-login"><br><p style="background-color: red;" class="btn" onclick="document.getElementById('error-login').innerHTML = '';">${error}</p><br></div>` : "" %>
            <br><div class="input-block">
                <label style="color: white;" for="form-1">Выберите скин для загрузки (макс. 1МБ)</label>
                <input type="file" name="skin" id="form-1" required>
                <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
            </div>

            <div class="pt-20 text-center">
                <button type="submit" style="background-color: cadetblue;" class="btn">Сменить</button> <a style="background-color: blueviolet;" class="btn" href="/panel/viewSkin">Посмотреть текущий скин</a> <a style="background-color: red;" href="/panel" class="btn">Назад</a>
            </div>
        </div></form>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('../_footer.ejs') %>